asgiref==3.10.0
attrs==20.3.0
awscli==2.30.4
Django==4.2.25
django-import-export==4.3.12
gunicorn==23.0.0
Jinja2==2.11.3
MarkupSafe==1.1.1
openpyxl==3.1.5
packaging==24.2
paramiko==4.0.0
prompt-toolkit==3.0.24
pycparser==2.20
PyNaCl==1.6.1
pytz==2022.7.1
PyYAML==5.4.1
requests==2.32.5
sqlparse==0.5.3
typing_extensions==4.15.0
urllib3==1.26.20
whitenoise==6.11.0
tablib==3.9.0
